<hr>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">#<%= ID %> Тема занятия: <%= title %>
            </h5>
        </div>
        <div class="card-body">
            <p class="card-text">Список учеников</p>
            <% students.forEach(function(student) {%>
                <p class="card-text">ID: <%= student.id %>, Имя: <%= student.name %>, 
                    <% if (student.visit) { %>
                        Присутствовал
                    <% } %>
                    <% if (!student.visit) { %>
                        Не присутствовал
                    <% } %></p>
            <% }); %>
            <p class="card-text">Список Учителей</p>
            <% teachers.forEach(function(teacher) {%>
                <p class="card-text">ID: <%= teacher.id %>, Имя: <%= teacher.name %> 
                    </p>
            <% }); %>
        </div>
        <div class="card-footer text-muted">
            <%= visitCount %> <i class="fas fa-user-check"></i> <%= date %> <i class="fas fa-calendar-alt"></i>
        </div>
    </div>
</div>